
---
    name: Reusable workflow to generate schemas for Calyptia Core Fluent Bit images
    on:
      workflow_call:
        secrets:
            token:
              description: The Github token or similar to authenticate with.
              required: true
    jobs:
        update-image-indexes:
            name: Raise PR with the updated indexes.
            runs-on: ubuntu-latest
            permissions:
                contents: none
            outputs:
                pr-number: ${{ steps.cpr.outputs.pull-request-number }}
                pr-url: ${{ steps.cpr.outputs.pull-request-url }}
            steps:
                - name: Checkout core-images-index repo
                  uses: actions/checkout@v4
                  with:
                    token: ${{ secrets.token }}
                    repository: chronosphereio/calyptia-core-index

                - name: Generate indexes and schemas
                  run: |
                    scripts/create-container-index.sh
                    scripts/create-core-fluent-bit-schemas.sh
                  shell: bash
                  env:
                    GITHUB_TOKEN: ${{ secrets.token }}

                - name: Push to PR on index repo
                  id: cpr
                  uses: peter-evans/create-pull-request@v8
                  with:
                    commit-message: 'ci: add core container images index'
                    signoff: true
                    branch: ci_update_container_index
                    delete-branch: true
                    title: 'ci: update core container images index'
                    token: ${{ secrets.token }}
                    labels: ci,automerge
                    add-paths: |
                        *index.json
                        *core-fluent-bit*.json
                    body: |
                        Update indexes and schemas
                        - Created by ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
                        - Auto-generated by create-pull-request: https://github.com/peter-evans/create-pull-request
                    draft: false

                - name: Check outputs
                  if: ${{ steps.cpr.outputs.pull-request-number }}
                  run: |
                    echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
                    echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
                  shell: bash
