name: Update frontend schemas

on:
    push:
        branches: [main]
        paths: ["schemas/**"]
    workflow_dispatch:

jobs:
    # We have to invoke via repo-dispatch to a private repo so this will not show pass/fail or results here
    ci-trigger-notifications:
        name: Trigger updates on private repos
        runs-on: ubuntu-latest
        permissions:
          contents: none
        steps:
          - name: Trigger ctp-update-schemas Buildkite pipeline
            uses: buildkite/trigger-pipeline-action@v2.0.0
            with:
              buildkite_api_access_token:  ${{ secrets.TRIGGER_BUILDKITE_TOKEN }} 
              pipeline: "chronosphere/ctp-update-schemas"      
              branch: master
              commit: HEAD
              message:  ""
